*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
main.bin
ghcaramel

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.eric7project
.idea
.jedi
*.epj
caramel-recolor-cython/pbgerecolor.c
*.geany
*.py~
*.code-workspace
.vscode
main.build
main.dist
main.onefile-build



