# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pygame
        pip install numpy
        pip install cython
        pip install pyinstaller
    - name: build caramel-recolor-cython
      run: |
        cd caramel-recolor-cython
        python setup.py install
        cd ..
    - name: build with pyinstaller
      run: |
        pyinstaller --onefile main.py
